@charset "UTF-8";
/* CSS Document */

div.timeoff {
	margin:auto!important;
}
.timeoff h3 {
	font:bold 18px Arial, Helvetica, sans-serf!important;
	text-align:center!important; 
	margin-bottom:4px!important;
}
#timeofftable p {
	font:12px Arial, Helvetica, sans-serif!important;
}
#timeofftable p span {
	font:italic bold 12px arial, helvetica, sans-serif!important;
	text-decoration:underline!important;
}
#timeofftable p.strong {
	font: bold 16px Arial, Helvetica, sans-serif!important;
	text-decoration:underline!important;
	margin-bottom:0px!important;
}
#timeofftable p.strong + p {
	margin-top:0px!important;
}
#timeofftable p.smalltext {
	color:#000!important;
	font:10px Arial, Helvetica, sans-serif!important;
}
#timeofftable .redtext {
	color:#f00!important; 
	font:10px Arial, Helvetica, sans-serif!important;
}