######################################
# Ignore All                         #
######################################

/*

######################################
# Except ...
######################################

# Not WP-Content
!/wp-content

######################################
# But keep ignoring ...
######################################

# Image folders
/wp-content/uploads**
/wp-content/gallery**

######################################
# But not ...
######################################

# Plugins and Themes
!/wp-content/plugins**
!/wp-content/themes**
!/wp-content/maintenance.php
!/wp-content/index.php


# Or Hidden Files
!.*

######################################
# But always ignore....
######################################

# Stupid Files
.DS_Store
._*
.idea
*.log
*_log.txt
error_log
